@using Nop.Web.Framework.UI
@{
    Layout = "";

    @*@Html.AddCssFileParts("~/Plugins/ExternalAuth.OpenIdConnect/Content/facebookstyles.css");  *@

}
@model Nop.Plugin.ExternalAuth.OpenIdConnect.OpenIdConnectExternalAuthSettings
<div class="facebook-login-block">
    <div class="title">
        @T("Plugins.ExternalAuth.OpenIdConnect.Login")
    </div>
    <div class="buttons">
        <a href="@(Model.OpenIdConnectServer)connect/authorize?grant_type=access_token&scope=openid&client_id=@Model.ClientId&state=af1Ef&redirect_uri=@Model.RedirectUrl&response_type=code" > Consultant Login</a>
    </div>
</div>